# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]  # Ignore Python bytecode files
*.so       # Ignore shared object files

# Jupyter Notebook
.ipynb_checkpoints/  # Ignore Jupyter notebook checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Log files
*.log  # Ignore log files
*.log.*  # Ignore rotated log files

# Environment variables
.env  # Ignore environment variable files

# Data files
data/  # Ignore the entire data directory
tests/

# Virtual environments
.venv/  # Ignore the virtual environment directory
env/    # Ignore alternative virtual environment directories
venv/

# IDE specific files
.vscode/  # Ignore VSCode settings
.idea/    # Ignore JetBrains IDE settings
*.sublime-workspace  # Ignore Sublime Text workspace files

# Operating System specific files
.DS_Store  # Ignore macOS Finder files
Thumbs.db  # Ignore Windows thumbnail cache files

# Temporary files
*.tmp  # Ignore temporary files
*.bak  # Ignore backup files
*.zip

# Ignore specific file types
*.syc  
draft.ipynb
