# Ignore specific file types
tests/
nltk_data/
/data
draft*.ipynb

# Environment variables
.env

# Setup files
.gd/
.vscode/
Thumbs.db

# Log files
logs/
*.log

# Temporary files and Byte-compiled files
.ipynb_checkpoints/
__pycache__
*.tmp
*.bak
*.txt
*.pyc
*.py[cod
*.zip